* {
  margin: 0;
  box-sizing: border-box;

  font-family: "Itim", cursive;
}
body {
  background-color: #f2f2f2;
}

h4 {
  margin-bottom: 16px;
  margin-left: 8px;
}

div.range-slider .range-slider__range {
  background-color: #4c7958;
}
div.range-slider .range-slider__thumb {
  width: 20px;
  height: 20px;
  background-color: #4c7958;
}
ul {
  padding: 0;
}
li {
  list-style: none;
  margin-bottom: 10px;
}
a {
  color: black;
}
